/****************************************************************************
 * CODE FILE   : stylesheet.css
 * Project     : BitTS - BART it TimeSheet
 * Author(s)   : Erwin Beukhof
 * Date        : 08 mei 2013
 * Description : Stylesheet
 */

TD.boxTitle {
  font-family: Verdana, Arial, sans-serif;
  font-size: 11px;
  font-weight: bold;
}

TD.boxText {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
}

TD.errorBox {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
  background: #ffb3b5;
  font-weight: bold;
}

INPUT.submitLinkHeaderNavigation {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: inherit;
  background-color: transparent;
  border: none;
  padding: 0px;
  cursor: pointer;
  cursor: hand;
  text-align: center;
}

INPUT.submitLinkInfoBoxHeading {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: inherit;
  background-color: transparent;
  border: none;
  padding: 0px;
  cursor: pointer;
  cursor: hand;
  text-align: left;
}

INPUT.submitLinkInfoBoxContents {
  font: inherit;
  color: inherit;
  text-decoration: inherit;
  background-color: transparent;
  border: none;
  padding: 0px;
  cursor: pointer;
  cursor: hand;
  text-align: left;
}

BODY {
  background: #ffffff;
  color: #000000;
  margin: 0px;
}

A {
  color: #000000;
  text-decoration: none;
}

CHECKBOX, INPUT, RADIO, SELECT {
  font-family: Verdana, Arial, sans-serif;
  font-size: 11px;
}

TEXTAREA {
  width: 100%;
  font-family: Verdana, Arial, sans-serif;
  font-size: 11px;
}

FORM {
  display: inline;
}

INPUT:disabled {
  color:#000000;
}

SELECT:disabled {
  color:#000000;
}

A:hover {
  color: #AABBDD;
  text-decoration: underline;
}

TR.header {
  background: #ffffff;
}

TR.headerNavigation {
  background: #0071c1;
}

TD.headerNavigation {
  /*** Balk bovenin onder logo ***/
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
  background: #0071c1;
  color: #ffffff;
  font-weight : bold;
}

TR.headerError {
  background: #ff0000;
}

TD.headerError {
  font-family: Tahoma, Verdana, Arial, sans-serif;
  font-size: 12px;
  background: #ff0000;
  color: #ffffff;
  font-weight : bold;
  text-align : center;
}

TR.headerInfo {
  background: #008fc3;
}

TD.headerInfo {
  font-family: Tahoma, Verdana, Arial, sans-serif;
  font-size: 12px;
  background: #008fc3;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}

TR.footer {
  background: #0071c1;
}

TD.footer {
  /*** Balk onderin met datum etc. ***/
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
  background: #0071c1;
  color: #ffffff;
  font-weight: bold;
}

TD.infoBox {
  /*** Rand om de boxes ***/
  background: #0071c1;
}

TD.infoBoxContents {
  /*** Inhoud boxes ***/
  background: #ffffff;
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
}

TD.infoBoxContentsRight {
  /*** Inhoud boxes ***/
  background: #ffffff;
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
  text-align: right;
}

TD.infoBoxHeading {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
  font-weight: bold;
  background: #0071c1;
  color: #ffffff;
}

TD.infoBox {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
}

TR.entryListing-odd {
  background: #f8f8f9;
}

TR.entryListing-even {
  background: #e5e5e6;
}

TR.projectListing-red {
  background: #ff0000;
}

TR.projectListing-orange {
  background: #ff7f00;
}

TR.projectListing-green {
  background: #00ff00;
}

TR.selectableRowMouseOver-odd {
  background-color: #0071c1;
  color: #ffffff;
  cursor: pointer;
}

TR.selectableRowMouseOver-even {
  background-color: #0071c1;
  color: #ffffff;
  cursor: pointer;
}

TABLE.projectListing, TABLE.entryListing, TABLE.calendar , TABLE.item_entry, TABLE.report_listing{
  border: 1px;
  border-style: solid;
  border-color: #b6b7cb;
  border-spacing: 1px;
}

TD.projectListing-heading, TD.entryListing-heading, TD.calendar-heading {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
  background: #b6b7cb;
  color: #FFFFFF;
  font-weight: bold;
  vertical-align: top;
}

TD.projectListing-data, TD.entryListing-data {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
  vertical-align: top;
}

TD.calendar-weekday {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
  background: #f8f8f9;
  text-align: center;
  vertical-align: top;
}

TD.calendar-weekend {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
  background: #b6b7cb;
  text-align: center;
  vertical-align: top;
}

TD.calendar-today {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
  background: #0071c1;
  color: #ffffff;
  text-align: center;
  vertical-align: top;
}

TD.calendar-notavailable {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
  background: #ffffff;
  text-align: center;
  vertical-align: top;
}

TD.large-calendar-weekday {
  border: 1px solid #b6b7cb;
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
  background: #f8f8f9;
  text-align: center;
  vertical-align: top;
  width: 50px;
}

TD.large-calendar-weekday-minimum-not-met {
  border: 1px solid #b6b7cb;
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
  background: #f8f8f9;
  color: #ff0000;
  text-align: center;
  vertical-align: top;
  width: 50px;
}

TD.large-calendar-weekend {
  border: 1px solid #b6b7cb;
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
  background: #b6b7cb;
  text-align: center;
  vertical-align: top;
  width: 50px;
}

TD.large-calendar-today {
  border: 1px solid #0071c1;
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
  background: #0071c1;
  color: #ffffff;
  text-align: center;
  vertical-align: top;
  width: 50px;
}

TD.large-calendar-notavailable {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
  background: #ffffff;
  text-align: center;
  vertical-align: top;
  width: 50px;
}

TD.item_entry, TD.report_listing {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
  background: #f8f8f9;
}

TD.login_error {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
  background: #ff0000;
  color: #ffffff;
  font-weight : bold;
  text-align : center;
}

TD.entry_error_low {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
  background: #00ff00;
  color: #ffffff;
  font-weight : bold;
  text-align : center;
}

TD.entry_error_middle {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
  background: #ff7f00;
  color: #ffffff;
  font-weight : bold;
  text-align : center;
}

TD.entry_error_high {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
  background: #ff0000;
  color: #ffffff;
  font-weight : bold;
  text-align : center;
}

TD.pageHeading {
  padding: 0;
  font-family: Verdana, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #0071c1;
}

TD.main {
  font-family: Verdana, Arial, sans-serif;
  font-size: 11px;
  line-height: 1.5;
}

TD.smallText {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
}

/*** OBSOLETE ***/

A.headerNavigation { 
  color: #FFFFFF; 
}

A.headerNavigation:hover {
  color: #ffffff;
}

TD.infoBoxNotice {
  background: #FF8E90;
}

TD.infoBoxNoticeContents {
  background: #FFE6E6;
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
}

SPAN.infoBox {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
}

A.pageResults {
  color: #0000FF;
}

A.pageResults:hover {
  color: #0000FF;
  background: #FFFF33;
}

DIV.pageHeading {
  padding: 0;
  font-family: Verdana, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #0071c1;
}

TR.subBar {
  background: #f4f7fd;
}

TD.subBar {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
  color: #000000;
}

P.main {
  font-family: Verdana, Arial, sans-serif;
  font-size: 11px;
  line-height: 1.5;
}

SPAN.smallText, P.smallText {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
}

TD.tableHeading {
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
}